
$bgGrey:#D1D1D1;
$red: #BB1616;
$white: #FFFFFF;
$pinksport: #FCAEFB;
$blueculture: #9F9FFF;
$darkgrey: #959595;
$fixed-width:1018px;
$containerheight:1018px;
$def-border:1px solid black;


@font-face
{
font-family: UnifrakturMaguntia;
src: url('../UnifrakturMaguntia-Book.ttf'),
     url('../UnifrakturMaguntia-Book.eot'); /* IE9 */
}

//global
body{
    min-width:320px;
    margin:0;
    padding:0;
    background-color:$bgGrey;
    font-family:Helvetica;
    font-size:16px;
}

h1{
    font-size:2.5em; /* 40px/16=2.5em */
    &.title{
        margin: 0;
        padding: 3.2% 6% 0%;
        text-shadow: 4px 3px 5px $darkgrey;
        font:{
            size: 7em;
            family: 'UnifrakturMaguntia', serif;
            weight: normal;
        }
    }
}

h2{
    font-size:2.28em;
    &.headtext{
        margin-bottom:1%;
    }
}

h6{ 
    font-size:1.6em; /* 32px/16=2.25em */
    &.subtitle{
        text-decoration: underline;
        font-weight:normal;
        margin:0;
        padding: 0% 5%;
        float:right;
    }
}

span.subtext{
        font-size:1.35em;
}

a{
    color:$white;
    text-decoration:none;
}

.sport{
    background-color:rgba(252, 174, 251, 0.6);
}

.culture{
    background-color:rgba(159, 159, 255, 0.5);
}

p{ 
    font-size:0.875em; 
} 

//top
.header{
    width:100%;
    height:40px;
    border-bottom:4px solid darken($bgGrey,30%);
    background-color:$red;
    .header-mid{
        width:($fixed-width + 200px);
        margin:0 auto;
        text-align:right;
        padding-top:10px;
        a{
            margin: .8em;
            font-style:italic;
        }
    }
}

.main-top{
    margin:0 auto;
    height:100px;
    width:$fixed-width;
    background-color:$white;
    border:$def-border;
    border-bottom:none;
    -webkit-box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);

}

.mobilemenu{
    display:none;
}

.main-nav{
    display:block;
    border:$def-border;
    margin:4.4% auto 0;
    width:90%;
    height: 55%;
    background-color:$darkgrey;
    ul{
        height:100%;
        list-style:none;
        text-align:center;
        margin:0;
        padding:0;
        li{
            font: {
                size: 1.5em; /* 24x/16=1.5em */
                style: italic;
            }
            display:inline-block;
            padding: 2% 3% 1.4%;
            &.mobileviewed{
                display:none;
            }
        }
    }
}

.banner{
    width:($fixed-width + 120px);
    height: 330px;
    margin: 0 auto;
    border: $def-border;
    position:relative;
    .red-banner{
        background-color:$red;
        width:100%;
        height:20%;
        -moz-box-shadow: inset 0 0 11px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 11px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 11px 2px rgba(0, 0, 0, 0.3);
    }
    .mid-banner{
        background-color:$white;
        width:100%;
        height:60%;
    }
}

//content
.main-container{
    margin:0 auto;
    width:$fixed-width;
    min-height:$containerheight;
    background-color: $white;
    -webkit-box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    border:{
        left: $def-border;
        right: $def-border;
    }
}

.left-box{
    margin-top:20px;
    margin-bottom:20px;
    width:69%;
    border-right: 1px solid darken($bgGrey,30%);
    display:inline-block;
    vertical-align:top;
}

.text-holder{
    margin: 12% 5% 0%;
}

.article{
    margin:0 auto;
    width:85%;
    min-height:300px;
    border-bottom: 1px solid darken($bgGrey,30%);
    .child{
        box-sizing: border-box;
        width:49%;
        height:99%;
    }
}

.article:nth-of-type(odd){
    .child:nth-of-type(odd){
        float:left;
    }
    .child:nth-of-type(even){
        float:right;
    }
}

.article:nth-of-type(even){
    .child:nth-of-type(odd){
        float:right;
    }
    .child:nth-of-type(even){
        float:left;
    }
}

img.aimage{
    max-width:100%;
    margin: 10% 0px 7% 1.5%;
    border:1px solid black;
}

img.advimage{
    width:100%;
}

.right-box{
    width:30%;
    display:inline-block;
}

.adv-holder{
    border:2px solid $darkgrey;
    padding-bottom: 20%;
    width: 75%;
    margin: 20% 14%;
    background-color: rgba(255,255,0,0.35);
    .title{
    font-family: 'Times New Roman';
    margin:0.2em;
    }
}

.adv{
    margin:0 auto;
    width:85%;
    min-height: 250px;
    .red-text{
        margin: 4% 0;
        padding: 1% 1.5%;
        background-color:red;
        color:$white;
    }
    .black-text{
        color:black;
        font:{
            weight:bold;
            size: 1.125em;
        }
    }
}

footer{
    position:relative;
    width:$fixed-width;
    margin:0 auto;
    min-height:250px;
    background-color: $red;
    border: 1px solid black;
    -webkit-box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    box-shadow: 0 7px 15px 7px rgba(0,0,0,0.30);
        ol{
            padding:0;
            list-style:none;
            margin: 3% 4%;
            text-align:center;
            li{
                display:inline-block;
                width: 10em;
                margin: 0.3em 0.8em;
            } 
    }
}

.clear{
    clear:both;
}

@media all and (max-width: 1180px){
    
    .banner{
        width:100%;
    }
    .header{
        width:100%;
        .header-mid{
            width:100%;
        }
    }
}

@media all and (max-width: 1024px){
    
    body{
        font-size:13px;
    }
    h1.title{
        font-size: 7em;
    }
    h6.subtitle{
        font-size:1.3em;
    }
    .header{
        height:40px;
    }
    .banner{
        height:290px;
    }
    .main-top{
        height:auto;
        width:100%;
    }
    .main-nav{
            border:none;
            height:100%;
            width:100%;
            margin:0;
    }
    .main-container{
        width:100%;
    }
    .article:nth-of-type(odd){
        min-height:250px;
    }
    .article:nth-of-type(even){
        min-height:250px;
    }
    .adv{
        margin:0 auto;
        width:90%;
        min-height: 200px;
    }
    img.aimage{
    max-width:90%;
    margin: 10% 0px 7% 4.5%;
    border:1px solid black;
    }
    footer{
        width:100%;
        font-size:1.4em;
        }
}

@media all and (max-width: 768px){
    
    .header{
        display:none;
    }
    h1.title{
        font-size:5.5em;
    }
    h6.subtitle{
        font-size:1em;
    }
    .main-nav{
        display:none;
        ul{
             text-align:left;
             width:82%;
             padding-left:4%;
            li{
                padding: 2% 6% 1%;
                &.mobileviewed{
                display:inline-block;
                }
            }
        }
    }
    .mobilemenu{
        display:block;
        background-color:$darkgrey;
        width:100%;
        height: 40px;
        text-align:right;
        img{
            height:28px;
            margin:6px;
        }
    }
    .banner{
        height:200px;
    }
    .main-container{
        width:99%;
      
    }
    .left-box{
            width:100%;
            margin:0;
    }
    .right-box{
            width:100%;
    }
    .adv-holder{
        width:94%;
        margin: 2% auto;
        min-height:0;
    }
    .adv{
        width:27%;
        margin:3% 2.7%;
        height:0px;
        display:inline-block;
        vertical-align:top;
    }
    .article:nth-of-type(odd){
        width:95%;
        min-height:230px;
    }
    .article:nth-of-type(even){
        width:95%;
        min-height:230px;
    }
}

@media all and (max-width: 575px){

    h1.title{
            font-size:4em;
            padding: 5.2% 3% 0;
    }   
    .adv{
        min-height:170px;
        .black-text{
            font-size:0.9em;
        }
    }
    footer{
        font-size:0.9em;
    }
}

@media all and (max-width: 450px){

    h1.title{
        font-size:3em;
    }
    h2.headtext{
        font-size: 1.35em;
    }
    h6.subtitle{
        font-size:0.9em;
    }
    span.subtext{
        font-size:1em;
    }
    .text-holder{
        margin: 12% 7% 0%;
    }
    .banner{
        height:150px;
    }
    .article:nth-of-type(odd){
        width:95%;
        min-height:170px;
    }
    .article:nth-of-type(even){
        width:95%;
        min-height:170px;
    }
    .adv{
        min-height:150px;
    }
}


