$bgGrey: #D1D1D1;
$darkGrey: #959595;
$red: #BB1616;
$white: #FFFFFF;
$color-culture:#9F9FFF;
$color-sport: #FCAEFB;
$fixed-width:320px;
$fixed-width-desk:980px;
$content-width:310px;
$def-border:1px solid black;


//global

body{
	font-size:16px;
	margin:0;
	padding:0;
	background-color: $bgGrey;
	font-family: Helvetica;
}

h1 {
	font-size:2.5em; /* 40px/16=2.5em */
}

h2 {
	font-size:2.45em; /* 40px/16=1.875em */
	&.title{
		font-family:'UnifrakturMaguntia', serif;
		font-weight:normal;
		margin: 7% 0% 0% 3%;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	}
} 

h6 {
	font-size: 0.625em;
	&.subtitle{
		font-family:'Times New Roman';
		font-weight:normal;
		margin: 0% 0% 0% 54%;
		text-decoration:underline;
	}
}

p {
	font-size:0.875em;
} /* 14px/16=0.875em */

img{
	&.menubutton{
		margin: 4px;
		float: right;
		height: 32px;
	}
}

a{
	text-decoration:none;
	color:$white;
}

.sport{
	background-color:$color-sport;
}

.culture{
	background-color:$color-culture;
}

.hide{
	display:block;
}

.clear{
	clear:both;
}


//top

.desktop-top{
	display:none;
	margin:0;
	height:40px;
	background-color:$red;
	border-bottom:3px ridge darken($bgGrey, 20);
	ul{
		margin:0;
		list-style:none;
		li{
			float:right;
			font-style:italic;
			padding:12px;
		}
	}
}

.middle{
	background-color:$white;
	height:auto;
	width:auto;
}

.top{
	border:$def-border;
	border-bottom:none;
	margin:0 auto;
	width:$fixed-width;
	height:40px;
	background-color:$darkGrey;
}


.main-nav{
	background-color:$darkGrey;
	display:none;
	margin:0 auto;
	width:$fixed-width;
	border:{
		left:$def-border;
		right:$def-border;
	}
	ul{
		margin:0;
		padding: 1% 3%;
		display:inline-block;
		list-style:none;
		li{
			padding:3% 4%;
			float:left;
			margin: 0;
			font-style:italic;
			font-size:1.3em;
		}
	}
}

.banner{
	margin:0 auto;
	width:$fixed-width;
	height:130px;
	border:$def-border;
	.red-banner{
		width:100%;
		height:15%;
		background-color:$red;
		-moz-box-shadow: inset 0 0 11px 2px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: inset 0 0 11px 2px rgba(0, 0, 0, 0.3);
		box-shadow: inset 0 0 11px 2px rgba(0, 0, 0, 0.3);
	}
	.mid-banner{
		width:100%;
		height:68.5%;
		background-color:$white;
		border:{
			top:$def-border;
			bottom:$def-border;
		}
	}
}


//main

.main-container{
	width:($fixed-width - 6px);
	background-color:$white;
	margin:0 auto;
	height:auto;
	padding: 0 0 1%;
	border:{
		left:$def-border;
		right:$def-border;
	}
}

.article-container{
	width:100%;
	margin:0 auto;
}

.article{
	margin: 0 auto;
	padding: 0 0 2% 0;
	width:98%;
	min-height:150px;
	border-bottom: 1px solid $darkGrey;
	.child{
		width:50%;
		height:100%;
	}
	img{
	max-width:90%;
	border:$def-border;
	margin: 10% 5%;
	}
}

.article:nth-child(even){
	.child:nth-child(even){
		float:left;
	}
	.child:nth-child(odd){
		float:right;
	}
}

.article:nth-child(odd){
	.child:nth-child(even){
		float:right;

	}
	.child:nth-child(odd){
		float:left;
	}
}

.text-holder{
	width:90%;
	margin:13% 0 0 6%;
	min-height:80%;
	span{
		&.headline{
			font-weight:bold;
			font-size:1.1em;
		}
		&.subline{
			font-size:0.8em;
		}
	}
}

.adv-container{
	width:97.5%;
	border:1px solid $darkGrey;
	margin:2% auto 0%;
	background-color: rgba(242,217,9,0.3);
	.container-text{
		margin:1%;
		font-size: 0.7em;
		font-family:Times new roman;
	}
}

.advertisement{
	width:29%;
	min-height:160px;
	margin: 0 2% 0 2.34%;
	display:inline-block;
	float:left;
	.redtext{
		background-color:red;
		margin: 5% 0;
		font-size:0.8em;
		font-weight:bold;
		color:$white;
		padding:1% 2%;
	}
	.blacktext{
		font-size:0.6em;
		font-weight:bold;
	}
	img{

		max-width:100%;
	}
}


//bottom

.footer{
	background-color:$red;
	min-height:200px;
	width:$fixed-width;
	border:$def-border;
	margin:0 auto;
	ul{
		margin:5% auto 5% 7%;
		width:92%;
		padding:0;
		list-style:none;
		li{
			display:block;
			float:left;
			width:9em;
			margin:0.3em 0.1em;
			a{
				font-size:0.9em;
				color:$white;
			}
		}
	}
}


@media all and (min-width:340px){
	
	h2.title{
			font-size:2.8em;
	}

	.top{
		width:100%;
	}

	.main-nav{
		width:100%;
	}

	.main-container{
		width:100%;
	}

	.banner{
		width:100%;
		height:150px;
	}

	.advertisement{
	width:27%;
	min-height:180px;
		.redtext{
			font-size:0.8em;
			
		}
		.blacktext{
			font-size:0.6em;
		}
	}

	.footer{
		width:100%;
	}
}

@media all and (min-width:480px){
	
	h2.title{
		font-size: 3.4em;
		margin: 5% 0% 0% 8%;
	}
	h6.subtitle{
		font-size: 0.8em;
	}

	.banner{
		height:170px;
		.red-banner{
			height:15.1%;
		}
	}

	.advertisement{
	width:27%;
	min-height:220px;
		.redtext{
			font-size:0.8em;
			
		}
		.blacktext{
			font-size:0.6em;
		}
	}

	.text-holder{
		span{
			&.headline{
				font-size:1.5em;
			}
			&.subline{
				font-size:1em;
			}
		}
	}
	.footer{
		
	}
}


@media all and (min-width:600px){

	h2.title{
		font-size: 4.5em;
		margin: 5% 0% 0% 4%;
	}

	h6.subtitle{
		font-size: 1.1em;
		margin: -1% 0% 0% 64%;

	}

	.banner{
		height: 220px;
		.red-banner{
			height:15%;
		}
		.mid-banner{
			height:69.2%;
		}
	}

	.article{
		width:85%;
	}

	.text-holder{
		span{
			&.headline{
				font-size:2.1em;
			}
			&.subline{
				font-size:1.2em;
			}
		}
	}

	.footer{
		ul{
			margin: 5% auto 5% 13%;
		}
	}
}


@media all and (min-width:768px){
	
	.hide{
		display:none;
	}

	h2.title{
		font-size: 5.5em;
	}

	h6.subtitle{
		font-size: 1.2em;
		margin: 0% 0% 0% 64%;

	}

	.desktop-top{
		display:block;
	}

	.top{
		display:none;
	}
	.main-nav{
		display:block;
		width:100%;
		ul{
			padding:0;
			margin:0 10%;
			width:85%;
			li{
				padding:12px 4% 4px 4%;
			}
		}
	}

	.banner{
		height: 260px;
		.red-banner{
			height:15%;
		}
		.mid-banner{
			height:69.2%;
		}
	}

	.article-container{
		float:left;
		width:67%;
		border-right:1px solid $darkGrey;
		margin: 20px 0;
		padding: 0 2.3% 0 0;
		.article{
			width:90%;
		}
	}

	.text-holder{
		span{
			&.headline{
				font-size:1.8em;
			}
			&.subline{
				font-size:1em;
			}
		}
	}

	.adv-container{
		float:right;
		width:22%;
		margin: 6% 4%;
		padding: 0 0 10%;
		.advertisement{
			margin: 2% 6%;
			width:88%;
			min-height:180px;
			.redtext{
				font-size:0.9em;
			}
			.blacktext{
				font-size:0.8em;
			}
		}
	}

	.footer{
		ul{
			width:79%;
			margin: 5% auto 5% 16%;
			li{
				width: 12em;
			}
		}
	}
}

@media all and (min-width:980px){

	.desktop-top{
		ul{
			width:100%;
			margin:0;
			padding: 0;
		}
	}

	.middle{
		width:$fixed-width-desk;
		height:80px;
		overflow:hidden;
		margin:0 auto;
		background-color:$white;
		display: block;
		border:{
			left:$def-border;
			right:$def-border;
		}
		-moz-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
	    -webkit-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
	    box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
	}

	.main-nav{
		width:85%;
		margin: 40px auto 0;
		border-top:$def-border;
	}


	@-moz-document url-prefix() {
    .main-nav {
        margin: 41px auto 0;
    }
}

	.main-container{
		width:$fixed-width-desk;
		-moz-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
	}

	.banner{
		width:100%;
		height:330px;
		.red-banner{
			height:20%;
		}
		.mid-banner{
			height:59.3%;
		}
	}

	.article{
		min-height: 250px;
	}

	h2.title{
		font-size: 7em;
		margin: 4% 0% 0% 5%
	}
	h6.subtitle{
		font-size: 1.5em;
		margin: -1.4% 0% 4% 68.5%;
	}

	.text-holder{
		span{
			&.headline{
			font-size:2.3em
			}
			&.subline{
			font-size:1.2em;
			}
		}
	}

	.footer{
		width:$fixed-width-desk;
		-moz-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
		ul{
			width:80%;
			margin: 5% auto 5% 14%;
		}
	}
}

@media all and (min-width: 1100px){

	.banner{
		width: ($fixed-width-desk + 120px); 
	}
}

@media all and (min-width: 1180px){

	.desktop-top{
		ul{
			width: ($fixed-width-desk + 200px);
			margin:0 auto;
		}
	}
}





































