$bgGrey: #D1D1D1;
$darkGrey: #959595;
$red: #BB1616;
$white: #FFFFFF;
$color-culture:#9F9FFF;
$color-sport: #FCAEFB;
$fixed-width:320px;
$fixed-width-desk:980px;
$content-width:310px;
$def-border:1px solid black;

//global
body{
	font-size:16px;
	margin:0;
	padding:0;
	background-color: $bgGrey;
	font-family: Helvetica;
}

h1 {
	font-size:2.5em;
}

h2 {
	font-size:2.45em;
	&.title{
		font-family:'UnifrakturMaguntia', serif;
		font-weight:normal;
		margin: 7% 0% 0% 3%;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	}
	&.headline{
		font-size:1.1em;
		margin-bottom: 2%;
	}
}

h6 {
	font-size: 0.625em;
	&.subtitle{
		font-family:'Times New Roman';
		font-weight:normal;
		float:right;
		margin: 0% 5%;
		text-decoration:underline;
	}
}

p {
	font-size:0.875em;
}

a{
	text-decoration:none;
	color:$white;
}

.sport{
	background-color:$color-sport;
}

.culture{
	background-color:$color-culture;
}

.clear{
	clear:both;
}

//top
.top{
	border:$def-border;
	border-bottom:none;
	margin:0 auto;
	width:$fixed-width;
	height:40px;
	background-color:$darkGrey;
	text-align:right;
}

img.menubutton{
		margin: 4px;
		height: 32px;
}

.desktop-top{
	display:none;
}

.main-nav{
	background-color:$darkGrey;
	display:none;
	margin:0 auto;
	width:$fixed-width;
	border:{
		left:$def-border;
		right:$def-border;
	}
	ul{
		margin:0;
		padding: 1% 3%;
		list-style:none;
		li{
			display:inline-block;
			padding:3% 4%;
			margin: 0;
			font-style:italic;
			font-size:1.3em;
		}
	}
}

.banner{
	margin:0 auto;
	width:$fixed-width;
	height:130px;
	border:$def-border;
	.red-banner{
		width:100%;
		height:15.1%;
		background-color:$red;
		-moz-box-shadow: inset 0 0 11px 2px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: inset 0 0 11px 2px rgba(0, 0, 0, 0.3);
		box-shadow: inset 0 0 11px 2px rgba(0, 0, 0, 0.3);
	}
	.mid-banner{
		width:100%;
		height:68.5%;
		background-color:$white;
		border:{
			top:$def-border;
			bottom:$def-border;
		}
	}
}

//main
.main-container{
	width:($fixed-width - 6px);
	background-color:$white;
	margin:0 auto;
	height:auto;
	padding: 0 0 1%;
	border:{
		left:$def-border;
		right:$def-border;
	}
}

.article-container{
	width:100%;
	margin:0 auto;
}

.article{
	margin: 0 auto;
	padding: 0 0 2% 0;
	width:98%;
	min-height:150px;
	border-bottom: 1px solid $darkGrey;
	.child{
		width:50%;
		height:100%;
	}
	img{
	max-width:90%;
	border:$def-border;
	margin: 10% 5%;
	}
}

.article:nth-child(even){
	.child:nth-child(even){
		float:left;
	}
	.child:nth-child(odd){
		float:right;
	}
}

.article:nth-child(odd){
	.child:nth-child(even){
		float:right;

	}
	.child:nth-child(odd){
		float:left;
	}
}

.text-holder{
	width:90%;
	margin:13% 0 0 6%;
	min-height:80%;
	span.subline{
			font-size:0.8em;
	}
}

.adv-container{
	width:97.5%;
	border:1px solid $darkGrey;
	margin:2% auto 0%;
	background-color: rgba(242,217,9,0.3);
	.container-text{
		margin:1%;
		font-size: 0.7em;
		font-family:Times new roman;
	}
}

.advertisement{
	width:27%;
	min-height:160px;
	margin: 0 2% 4% 2.34%;
	display:inline-block;
	vertical-align:top;
	.redtext{
		background-color:red;
		margin: 5% 0;
		font-size:0.8em;
		font-weight:bold;
		color:$white;
		padding:1% 2%;
	}
	.blacktext{
		font-size:0.6em;
		font-weight:bold;
	}
	img{
		max-width:100%;
	}
}

//bottom
 footer{
	background-color:$red;
	min-height:200px;
	width:$fixed-width;
	border:$def-border;
	margin:0 auto;
	ul{
		margin:5% auto 5%;
		padding:0;
		text-align:center;
		list-style:none;
		li{
			display:inline-block;
			width:9em;
			margin:0.3em 0.1em;
			a{
				font-size:0.9em;
				color:$white;
			}
		}
	}
}

@media all and (min-width:340px){
	
	h2.title{
		font-size:2.8em;
	}
	.top{
		width:100%;
	}
	.main-nav{
		width:100%;
	}
	.main-container{
		width:100%;
	}
	.banner{
		width:100%;
		height:150px;
	}
	footer{
		width:100%;
	}
}

@media all and (min-width:480px){
	
	h2{
		&.title{
		font-size: 3.4em;
		}
		&.headline{
		font-size:1.5em;
		}
	}
	h6.subtitle{
		font-size: 0.8em;
	}
	.banner{
		height:170px;
	}
	
	.text-holder{
		span{
			&.subline{
				font-size:1em;
			}
		}
	}
}

@media all and (min-width:600px){

	h2{
		&.title{
		font-size: 4.5em;
		}
		&.headline{
				font-size:2.1em;
		}
	}
	h6.subtitle{
		font-size: 1.2em;

	}
	.banner{
		height: 220px;
		.red-banner{
			height:15%;
		}
		.mid-banner{
			height:69.2%;
		}
	}
	.article{
		width:90%;
	}
	.text-holder{
		span{
			&.subline{
				font-size:1.2em;
			}
		}
	}
}

@media all and (min-width:768px){
	
	h2{
		&.title{
			font-size: 5.5em;
		}
		&.headline{
			font-size:1.8em;
		}
	}
	.desktop-top{
		display:block;
		margin:0;
		height:40px;
		background-color:$red;
		border-bottom:3px ridge darken($bgGrey, 20);
		ul{
			margin:0;
			padding:0;
			list-style:none;
			text-align:right;
			li{
				display:inline-block;
				font-style:italic;
				padding:12px;
			}
		}
	}	
	.top{
		display:none;
	}
	.main-nav{
		display:block !important;
		width:100%;
		ul{
			text-align:center;
			padding:0;
			margin:0 auto;
			li{
				padding:12px 20px 4px;
				&.hide{
					display:none;
				}
			}
		}
	}
	.banner{
		height: 260px;
	}
	.article-container{
		display:inline-block;
		width:67%;
		border-right:1px solid $darkGrey;
		margin: 20px 0;
		padding: 0 2.3% 0 0;
	}
	.text-holder{
		span.subline{
				font-size:1em;
			}
	}
	.adv-container{
		display:inline-block;
		vertical-align:top;
		width:21%;
		margin: 6% 4%;
		padding: 0 0 10%;
		.advertisement{
			margin: 2% 6%;
			width:88%;
			min-height:180px;
			.redtext{
				font-size:0.9em;
			}
			.blacktext{
				font-size:0.8em;
			}
		}
	}
	footer{
		 ul{
			li{
				width: 12em;
			}
		}
	}
}

@media all and (min-width:980px){

	h2{
		&.title{
			font-size: 7em;
			margin: 4% 0% 0% 5%;
		}
		&.headline{
			font-size:2.3em
		}
	}
	h6.subtitle{
		font-size: 1.5em;
	}
	.middle{
		width:$fixed-width-desk;
		margin:0 auto;
		padding-top:40px;
		background-color:$white;
		border:{
			left:$def-border;
			right:$def-border;
		}
		-moz-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
	    -webkit-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
	    box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
	}
	.main-nav{
		width:85%;
		border-top:$def-border;
		ul{
			li{
				padding: 12px 30px 4px;
			}
		}
	}
	.main-container{
		width:$fixed-width-desk;
		-moz-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
	}
	.banner{
		width:100%;
		height:330px;
		.red-banner{
			height:20%;
		}
		.mid-banner{
			height:59.3%;
		}
	}
	.article{
		min-height: 250px;
	}
	
	.text-holder{
		span.subline{
			font-size:1.2em;
		}
	}
	footer{
		width:$fixed-width-desk;
		-moz-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.3);
	}
}

@media all and (min-width: 1100px){
	.banner{
		width: ($fixed-width-desk + 120px);
	}
}

@media all and (min-width: 1180px){

	.desktop-top{
		ul{
			width: ($fixed-width-desk + 200px);
			margin:0 auto;
		}
	}
}





































