body {
  margin: 0;
  padding: 0;
  background-color: #d1d1d1;
  font-family: Helvetica;
  font-size: 16px;
  zoom: 1; }

h1 {
  font-size: 2.5em;
  /* 40px/16=2.5em */ }
  h1.title {
    margin: 0;
    padding: 0;
    text-shadow: 4px 3px 5px #959595;
    font-size: 7em;
    font-family: 'UnifrakturMaguntia', serif;
    font-weight: normal; }

h2 {
  font-size: 1.875em;
  /* 30px/16=1.875em */ }
  h2.subtitle {
    text-decoration: underline;
    font-weight: normal;
    margin: 0; }

span.headtext {
  margin: 18% 0 0 1%;
  font-weight: bold;
  font-size: 2.5em; }
span.subtext {
  font-size: 1.45em;
  font-weight: normal;
  margin: 1% 0 0 1%; }

a {
  color: white;
  text-decoration: none; }

.sport {
  background-color: rgba(252, 174, 251, 0.6); }

.culture {
  background-color: rgba(159, 159, 255, 0.5); }

p {
  font-size: 0.875em;
  /* 14px/16=0.875em */ }

.header {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 4px solid #848484;
  background-color: #bb1616; }
  .header .header-mid {
    height: 100%;
    width: 1218px;
    margin: 0 auto; }
    .header .header-mid a {
      margin: 1em;
      float: right;
      font-style: italic; }

.main-top {
  margin: 0 auto;
  height: 100px;
  width: 1018px;
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  -webkit-box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.3); }

.main-nav {
  margin: 4.4% auto 0;
  width: 90%;
  height: 55%;
  background-color: #959595; }
  .main-nav ul {
    padding: 0;
    margin: 0 5%;
    width: 90%;
    height: 100%;
    list-style: none;
    display: inline-block; }
    .main-nav ul li {
      height: 66%;
      font-size: 1.5em;
      /* 24x/16=1.5em */
      font-style: italic;
      float: left;
      margin: 0;
      padding: 2.3% 4.5% 0 4.5%;
      padding-bottom: 0; }

.banner {
  width: 1138px;
  height: 330px;
  margin: 0 auto;
  border: 1px solid black;
  position: relative; }
  .banner .red-banner {
    background-color: #bb1616;
    width: 100%;
    height: 20%;
    -moz-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inner 0 0 15px 1px rgba(0, 0, 0, 0.3); }
  .banner .mid-banner {
    background-color: white;
    width: 100%;
    height: 60%; }
    .banner .mid-banner .title-holder {
      max-height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 3.8% 0 0 6%; }
    .banner .mid-banner .subtitle-holder {
      max-height: 100%;
      max-width: 100%;
      font-family: 'Times New Roman';
      margin: 0;
      padding: 0 0 0 67%; }

.main-container {
  position: relative;
  margin: 0 auto;
  width: 1018px;
  min-height: 1018px;
  background-color: white;
  -webkit-box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.3);
  border-left: 1px solid black;
  border-right: 1px solid black; }

.left-box {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  width: 69%;
  height: auto;
  border-right: 1px solid #848484; }

.article:nth-of-type(odd) {
  margin: 0 auto;
  width: 85%;
  height: 300px;
  border-bottom: 1px solid #848484; }
  .article:nth-of-type(odd) .child:nth-of-type(odd) {
    box-sizing: border-box;
    float: left;
    width: 49%;
    height: 99%; }
  .article:nth-of-type(odd) .child:nth-of-type(even) {
    box-sizing: border-box;
    float: right;
    width: 49%;
    height: 99%; }

.article:nth-of-type(even) {
  margin: 0 auto;
  width: 85%;
  height: 300px;
  border-bottom: 1px solid #848484; }
  .article:nth-of-type(even) .child:nth-of-type(odd) {
    box-sizing: border-box;
    float: right;
    width: 49%;
    height: 99%; }
  .article:nth-of-type(even) .child:nth-of-type(even) {
    box-sizing: border-box;
    float: left;
    width: 49%;
    height: 99%; }

img.aimage {
  max-width: 100%;
  margin: 10% 0px 0px 1.5%;
  border: 1px solid black; }

img.advimage {
  width: 100%; }

.span-holder {
  margin: 18% 0 0 1%; }

.right-box {
  float: left;
  width: 30%;
  min-height: 1018px;
  max-height: 100%; }

.adv-holder {
  border: 2px solid #959595;
  width: 75%;
  margin: 7% 14%;
  min-height: 916.2px;
  background-color: rgba(255, 255, 0, 0.35); }
  .adv-holder .title {
    font-family: 'Times New Roman';
    margin: 0.2em; }

.adv {
  margin: 0 auto;
  width: 85%;
  min-height: 250px; }
  .adv .red-text {
    margin: 4% 0;
    padding: 1% 1.5%;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.25em; }
  .adv .black-text {
    color: black;
    font-weight: bold;
    font-size: 1.125em; }

.footer {
  position: relative;
  width: 1018px;
  margin: 0 auto;
  min-height: 250px;
  background-color: #bb1616;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 15px 7px rgba(0, 0, 0, 0.3); }
  .footer .footer-wrapper {
    height: 50%;
    width: 100%;
    margin: 4% 10%; }
    .footer .footer-wrapper ol {
      padding: 0;
      margin: 0 auto;
      list-style: none;
      width: 90%;
      height: 100%; }
      .footer .footer-wrapper ol li {
        float: left;
        width: 10em;
        margin: 0.3em 0.8em; }

.clear {
  clear: both; }
