.content-navigation, .testing {
  float: left;
  border: 1px solid;
  width: 500px;
  height: 500px;
  border-color: #3bbfce;
  background-color: #16535a; }

.border {
  float: left;
  border: 1px solid;
  width: 500px;
  height: 500px;
  padding: 8px;
  margin: 8px;
  border-color: #3bbfce; }
  .border div {
    margin: 1em;
    float: left;
    width: 30%;
    height: 30%;
    border-size: 1px;
    border-style: dotted;
    border-color: #ff4986;
    background-color: red;
    background-size: 30%; }

.testing {
  border: 1px solid #3bbfce;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 100px;
  float: left; }
