
$bgGrey:#D1D1D1;
$red: #BB1616;
$white: #FFFFFF;
$pinksport: #FCAEFB;
$blueculture: #9F9FFF;
$darkgrey: #959595;
$fixed-width:1018px;
$containerheight:1018px;
$def-border:1px solid black;

//global
body{
    margin:0;
    padding:0;
    background-color:$bgGrey;
    font-family:Helvetica;
    font-size:16px;
    zoom:1;
}

h1{
    font-size:2.5em; /* 40px/16=2.5em */
    &.title{
        margin: 0;
        padding:0;
        text-shadow: 4px 3px 5px $darkgrey;
        font:{
            size: 7em;
            family: 'UnifrakturMaguntia', serif;
            weight: normal;
        }
    }
}

h2{ 
    font-size:1.875em; /* 30px/16=1.875em */
    &.subtitle{
        text-decoration: underline;
        font-weight:normal;
        margin:0;
    }
}

span{
    &.headtext{
        margin: 18% 0 0 1%;
        font:{
        weight: bold;
        size: 2.5em
        }
    }
    &.subtext{
        font-size:1.45em;
        font-weight:normal;
        margin: 1% 0 0 1%;
    }
}

a{
    color:$white;
    text-decoration:none;
}


.sport{
                background-color:rgba(252, 174, 251, 0.6);
            }
.culture{
                background-color:rgba(159, 159, 255, 0.5);
            }

p{ font-size:0.875em; /* 14px/16=0.875em */} 

//top

.header{
    position:relative;
    width:100%;
    height:50px;
    border-bottom:4px solid darken($bgGrey,30%);
    background-color:$red;
    .header-mid{
        height:100%;
        width:($fixed-width + 200px);
        margin:0 auto;
        a{
            margin:1em;
            float:right;
            font-style:italic;
        }
    }
}

.main-top{
    margin:0 auto;
    height:100px;
    width:$fixed-width;
    background-color:$white;
    border:$def-border;
    border-bottom:none;
    -webkit-box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
}

.main-nav{
    margin:4.4% auto 0;
    width:90%;
    height: 55%;
    background-color:$darkgrey;
    ul{
        padding:0;
        margin:0 5%;
        width:90%;
        height:100%;
        list-style:none;
        display:inline-block;
        li{
            height:66%;
            font: {
                size: 1.5em; /* 24x/16=1.5em */
                style: italic;
            }
            float:left;
            margin:0;
            padding:2.3% 4.5% 0 4.5%;
            padding-bottom:0;
        }
    }
}

.banner{
    width:($fixed-width + 120px);
    height: 330px;
    margin: 0 auto;
    border: $def-border;
    position:relative;
    .red-banner{
        background-color:$red;
        width:100%;
        height:20%;
        -moz-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.3);
        box-shadow: inner 0 0 15px 1px rgba(0, 0, 0, 0.3);
    }
    .mid-banner{
        background-color:$white;
        width:100%;
        height:60%;
        .title-holder{
            max-height:100%;
            max-width:100%;
            margin:0;
            padding:3.8% 0 0 6%;
        }
        .subtitle-holder{
            max-height:100%;
            max-width:100%;
            font-family:'Times New Roman';
            margin:0;
            padding:0 0 0 67%;
        }
    }
}

//content
.main-container{
    position:relative;
    margin:0 auto;
    width:$fixed-width;
    min-height:$containerheight;
    background-color: $white;
    -webkit-box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    border:{
        left: $def-border;
        right: $def-border;
    } 
}

//container-left

.left-box{
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    width:69%;
    height:auto;
    border-right: 1px solid darken($bgGrey,30%);
}

.article:nth-of-type(odd){
    margin:0 auto;
    width:85%;
    min-height:300px;
    border-bottom: 1px solid darken($bgGrey,30%);
    .child:nth-of-type(odd){
        box-sizing: border-box;
        float:left;
        width:49%;
        height:99%;
        }
    .child:nth-of-type(even){
        box-sizing: border-box;
        float:right;
        width:49%;
        height:99%;
        }
}

.article:nth-of-type(even){
    margin:0 auto;
    width:85%;
    min-height:300px;
    border-bottom: 1px solid darken($bgGrey,30%);
    .child:nth-of-type(odd){
        box-sizing: border-box;
        float:right;
        width:49%;
        height:99%;
        }
    .child:nth-of-type(even){
        box-sizing: border-box;
        float:left;
        width:49%;
        height:99%;
        }
}


img.aimage{
    max-width:100%;
    margin: 10% 0px 0px 1.5%;
    border:1px solid black;
}
img.advimage{
    width:100%;
}

.span-holder{
   margin: 12% 0 0 1%;
}

//container-right

.right-box{
    float:left;
    width:30%;
    min-height: $containerheight;
    max-height:100%;
}

.adv-holder{
    border:2px solid $darkgrey;
    width: 75%;
    margin: 7% 14%;
    min-height: ($containerheight - $containerheight*0.1);
    background-color: rgba(255,255,0,0.35);
    .title{
    font-family: 'Times New Roman';
    margin:0.2em;
    }
}

.adv{
        margin:0 auto;
        width:85%;
        min-height: 250px;
    .red-text{
        margin: 4% 0;
        padding: 1% 1.5%;
        background-color:red;
        color:$white;
        font:{
            weight:bold;
            size: 1.25em;
        }
    }
    .black-text{
        color:black;
        font:{
            weight:bold;
            size: 1.125em;
        }
    }
}


.footer{
    position:relative;
    width:$fixed-width;
    margin:0 auto;
    min-height:250px;
    background-color: $red;
    border: 1px solid black;
    -webkit-box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    box-shadow: 0 7px 15px 7px rgba(0,0,0,0.30);
    .footer-wrapper{
        height:50%;
        width:100%;
        margin:4% 10%;
        ol{
            padding:0;
            margin:0 auto;
            list-style:none;
            width: 90%;
            height:100%;
            li{
                float: left;
                width: 10em;
                margin: 0.3em 0.8em;
            } 
        }

    }
}

.clear{
    clear:both;
}


@media all and (max-width: 1180px){
    .banner{
        width:100%;
    }
    .header{
        width:100%;
        .header-mid{
            width:100%;
        }
    }
}

@media all and (max-width: 1018px){
    body{
        font-size:12px;
    }

    .header{
        height:40px;
    }

    .banner{
        height:290px;
        .mid-banner{
            .subtitle-holder{
                padding: 0 0 0 69%;
                font-size:0.9em;
            }
        }
    }

    .main-top{
        height:auto;
        width:100%;
    }

    .main-nav{
            height:100%;
            width:100%;
            margin:0;
    }

    .main-container{
        width:100%;
    }

    .article:nth-of-type(odd){
        min-height:250px;
    }


    .article:nth-of-type(even){
        min-height:250px;
    }

    .adv{
        margin:0 auto;
        width:90%;
        min-height: 200px;
    }
    .footer{
        width:100%
    }

    img.aimage{
    max-width:90%;
    margin: 10% 0px 0px 4.5%;
    border:1px solid black;
    }
}

@media all and (max-width: 768px){
    
    .header{
        display:none;
    }

    .banner{
        .red-banner{
            background-color:blue;
        }
    }
    .main-container{
        width:99%;
      
        
    }

    .left-box{
            width:100%;
            float:none;
            margin:0;
    }

    .right-box{
            width:100%;
            float:none;
    }

    .article:nth-of-type(odd){
        width:95%;
        min-height:230px;
    }


    .article:nth-of-type(even){
        width:95%;
        min-height:230px;
    }

}

@media all and (max-width: 400px){

    h1{
        &.title{
            font-size:3.7em;
        }
        
    }
    h2{
        font-size:1.2em;
    }
    span{
        &.headtext{
            font-size: 1.7em;
        }
        &.subtext{
        font-size:1.1em;
        }
    }

    .banner{
        height:150px;
        .red-banner{
            background-color:green;
        }
        .mid-banner{
        .subtitle-holder{
                padding: 0 0 0 50%;
                font-size:0.9em;
            }
        }
    }

    .article:nth-of-type(odd){
        width:95%;
        min-height:170px;
    }


    .article:nth-of-type(even){
        width:95%;
        min-height:170px;
    }
}



