$blue: #3bbfce;  
$margin: 16px;
$lightred: #FF4986;

@mixin getPadMar($pad,$mar){
	padding:$pad;
	margin:$mar;
}

@mixin size($width,$height){
	width:$width;
	height:$height;
}

  
.content-navigation {
	float:left;
	border:1px solid;
	width: 500px;
	height: 500px;  
    border-color: $blue;  
    background-color: darken($blue, 30%);  
}  
  
.border {
	float:left;
	border:1px solid; 
	width: 500px;
	height: 500px;   
    padding: $margin / 2;  
    margin: $margin / 2;  
    border-color: $blue;
    div{
    	margin:1em;
    	float:left;
    	width:30%;
    	height:30%;
    	border:{
    		size:1px;
    		style: dotted;
    		color: $lightred;
    	}
    	background:{
    		color:red;
    		size:30%;
    	}
    }
}

.testing{
	border:1px solid $blue;
	@include getPadMar(10px,10px);
	@include size(100px,100px);
	@extend .content-navigation;
	float:left;
}


