
$bgGrey:#D1D1D1;
$red: #BB1616;
$white: #FFFFFF;
$pinksport: #FCAEFB;
$blueculture: #9F9FFF;
$darkgrey: #959595;
$fixed-width:1018px;
$containerheight:1018px;
$def-border:1px solid black;

body{
    margin:0;
    padding:0;
    background-color:$bgGrey;
    font-size:16px;
    zoom:1;
}

h1{
    font-size:2.5em; /* 40px/16=2.5em */
    &.title{
        margin: 0;
        padding:0;
        font:{
            size: 7em;
            family: 'UnifrakturMaguntia', serif;
            weight: normal;
        }
        text-shadow: 4px 3px 5px $darkgrey;
    }
}

h2{ font-size:1.875em; /* 30px/16=1.875em */
    &.subtitle{
        text-decoration: underline;
        font-weight:normal;
        margin:0;
    }
}

span{
    &.headtext{
        margin: 18% 0 0 1%;
        font:{
        family: Helvetica;
        weight: bold;
        size: 2.5em
        }
    }
    &.subtext{
        font-size:1.45em;
        font-weight:normal;
        font-family:Helvetica;
        margin: 1% 0 0 1%;
    }
}




p{ font-size:0.875em; /* 14px/16=0.875em */} 

.header{
    position:relative;
    width:100%;
    height:50px;
    border-bottom:4px solid darken($bgGrey,30%);
    background-color:$red;
    div{
        height:100%;
        width:($fixed-width + 120px);
        margin:0 auto;
    }
}

.sport{
                background-color:rgba(252, 174, 251, 0.6);
            }
.culture{
                background-color:rgba(159, 159, 255, 0.5);
            }


.main-top{
    margin:0 auto;
    height:100px;
    width:$fixed-width;
    background-color:$white;
    border:$def-border;
    border-bottom:none;
    -webkit-box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
}

.main-nav{
    margin:4.4% auto 0;
    width:90%;
    height: 55%;
    background-color:$darkgrey;
    ul{
        padding:0;
        margin:0 5%;
        width:90%;
        height:100%;
        list-style:none;
        display:inline-block;
        li{
            height:66%;
            font: {
                size: 1.5em; /* 24x/16=1.5em */
                family: helvetica;
                style: italic;
            }
            float:left;
            margin:0;
            padding:2.3% 4.5% 0 4.5%;
            padding-bottom:0;
            a{
                color: $white;
                text-decoration:none;
            }
        }
    }
}

.banner{
    width:($fixed-width + 120px);
    height: 330px;
    margin: 0 auto;
    border: $def-border;
    position:relative;
    .red-banner{
        background-color:$red;
        width:100%;
        height:20%;
        -moz-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.3);
        box-shadow: inner 0 0 15px 1px rgba(0, 0, 0, 0.3);
    }
    .mid-banner{
        background-color:$white;
        width:100%;
        height:60%;
        .title-holder{
            max-height:100%;
            max-width:100%;
            margin:0;
            padding:3.8% 0 0 7%;
        }
        .subtitle-holder{
            max-height:100%;
            max-width:100%;


            margin:0;
            padding:0 0 0 65%;
        }
    }
}

.main-container{
    position:relative;
    margin:0 auto;
    width:$fixed-width;
    min-height:$containerheight;
    background-color: $white;
    -webkit-box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    border:{
        left: $def-border;
        right: $def-border;
    } 
}

.left-box{
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    width:69%;
    height:auto;
    border-right: 1px solid darken($bgGrey,30%);
}

.right-box{
    float:left;
    width:29%;
    max-height:100%;
}

.article:nth-of-type(odd){
    margin:0 auto;
    width:85%;
    height:300px;
    border-bottom: 1px solid darken($bgGrey,30%);
    .child:nth-of-type(odd){
        box-sizing: border-box;
        float:left;
        width:49%;
        height:99%;
        }
    .child:nth-of-type(even){
        box-sizing: border-box;
        float:right;
        width:49%;
        height:99%;
        }
}

.article:nth-of-type(even){
    margin:0 auto;
    width:85%;
    height:300px;
    border-bottom: 1px solid darken($bgGrey,30%);
    .child:nth-of-type(odd){
        box-sizing: border-box;
        float:right;
        width:49%;
        height:99%;
        }
    .child:nth-of-type(even){
        box-sizing: border-box;
        float:left;
        width:49%;
        height:99%;
        }
}


img.aimage{
    max-width:100%;
    margin: 10% 0px 0px 2%;
    border:1px solid black;
}

.span-holder{
   margin: 18% 0 0 1%;
}


.footer{
    width:$fixed-width;
    margin:0 auto;
    height:250px;
    background-color: $red;
    border: 1px solid black;
    -webkit-box-shadow: 0 0 15px 7px rgba(0,0,0,0.30);
    box-shadow: 0 7px 15px 7px rgba(0,0,0,0.30);
}

.clear{
    clear:both;
}